<h2>
  Product Create (Templated)
</h2>

<div *ngIf="item">
  <form #mainForm="ngForm" (ngSubmit)="onSave(mainForm)">
    <dl>
      <div [ngClass]="{'has-error': (pn.touched || pn.dirty) && !pn.valid}">
        <dt>Name</dt>
        <dd>
          <input type="text" placeholder="Product Name"
          required minlength="3" [(ngModel)]="item.productName" name="productName" #pn="ngModel"/>
          <span *ngIf="(pn.touched || pn.dirty) && pn.errors">
            <span *ngIf="pn.errors.required">
              El nombre del producto es requerido.
            </span>
            <span *ngIf="pn.errors.minlength">
              Al menos 3 caracteres.
            </span>
          </span>
          <br/>
          <span [hidden]="pn.valid || pn.pristine">
            Nombre es requerido.
          </span>
        </dd>
      </div>
    </dl>
    <button type="submit" [disabled]="!mainForm.valid">
      Save
    </button>
  </form>
  <br />Dirty: {{ mainForm.dirty }} <br />Touched: {{ mainForm.touched }}
  <br />Valid: {{ mainForm.valid }} <br />Value: {{ mainForm.value | json }}

  <br />item: {{ item | json }}
</div>
