<h2>
  Product Create (Templated "Plain")
</h2>

<div *ngIf="item">
  <dl>
    <dt>ID</dt>
    <dd>
      <input type="number" placeholder="Name" [(ngModel)]="item.id" />
    </dd>

    <dt>Name</dt>
    <dd>
      <input type="text" placeholder="Name" [(ngModel)]="item.productName" />
    </dd>

    <dt>Quantity / Unit</dt>
    <dd>
      <input type="text" placeholder="Quantity / Unit"
      [(ngModel)]="item.quantityPerUnit" />
    </dd>

    <dt>Price</dt>
    <dd>
      <input type="text" placeholder="Unit price"
      [(ngModel)]="item.unitPrice" />
    </dd>

    <dt>Stock</dt>
    <dd>
      <input type="text" placeholder="Units in stock"
      [(ngModel)]="item.unitsInStock" />
    </dd>
  </dl>
  <button type="submit"  (click)="onSave()">
    Save
  </button>
</div>
