<h2>
  Product Edit ({{productInput? productInput.productID: ''}})
</h2>

<div *ngIf="productInput">
  <dl>
    <dt>ID</dt>
    <dd>
      <input type="text" [readOnly]="productInput.status === modelState.Edit"
      placeholder="ID" [(ngModel)]="productInput.productID" />
    </dd>

    <dt>Name</dt>
    <dd>
      <input type="text" placeholder="Name" [(ngModel)]="productInput.productName" />
    </dd>

    <dt>Quantity/Unit</dt>
    <dd>
      <input type="text" placeholder="Quantity" [(ngModel)]="productInput.quantityPerUnit" />
    </dd>

    <dt>Price</dt>
    <dd>
      <input type="text" placeholder="Unit Price" [(ngModel)]="productInput.unitPrice" />
    </dd>

    <dt>Stock</dt>
    <dd>
      <input type="text" placeholder="Units in Stock" [(ngModel)]="productInput.unitsInStock" />
    </dd>
  </dl>
  <button *ngIf="productInput.status === modelState.New" type="submit"> Submit</button>
</div>
